body {
    font-family: Arial;
    font-size: 13px;
    margin:20px auto;
}

#content {
    background-color:#bfb8da; 
    margin:auto;
    width:70%;
    height: 95%;
    border-radius:5px;
}

h1 {
    text-align:center;
}

.header {
    padding:1px;
    text-align:center;
}

#chatbox {
    height:70%;
    background-color:#fff;
    margin: 0px 10px;
    overflow-y:scroll;
    border-radius:5px;
}

#chatbox p {
    padding:10px;
}

.form {
    margin:20px;
}

input {
    padding:5px;
}

#typeinput {
    float:left;
    width:75%;
    border-radius:5px;
}

#submit {
    float:right;
    width:20%;
    border-radius:5px;
}

/* messages */

ul {
    list-style:none;
    padding:0px;
    margin:15px 25px;
    width:70%;
    
}

li {
    margin-top:10px;
    border-radius:5px;
    padding:5px;
    
}

.user {
    background-color:#aad3fa;
}

.bot {
    background-color:#ffdef1;
    font-family:Courier;
    
}

.userid {
    font-weight:bold;
    font-size:11px;
}

.timestamp {
    font-size:10px;
}